{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <h3 class="archive__item-title" itemprop="headline" style="margin-bottom:0.1em;">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>
  {% if post.authors %}
    <p class="archive__item-authors" style="font-size: smaller; margin: 0.1em 0 0.2em 0; color: #555;">{{ post.authors }}</p>
  {% endif %}
  {% if post.venue %}
    <p class="archive__item-venue" style="font-size: smaller; margin: 0 0 0.4em 0;"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
  {% endif %}
</li>
