{% assign ordered_publications = site.publications | sort: "date" | reverse %}
{% assign quantum_publications = ordered_publications | where_exp: "paper", "paper.research_area == 'quantum-machine-learning'" | sort: "date" | reverse %}
{% assign other_publications = ordered_publications | where_exp: "paper", "paper.research_area != 'quantum-machine-learning'" %}

{% assign sorted_publications = '' | split: '' %}
{% for p in quantum_publications %}{% assign sorted_publications = sorted_publications | push: p %}{% endfor %}
{% for p in other_publications %}{% assign sorted_publications = sorted_publications | push: p %}{% endfor %}

{% if include.format == "cv" %}
<ul class="cv-publication-list">
  {% for post in sorted_publications %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>
{% else %}
<div class="publication-list">
  {% for post in sorted_publications %}
    {% include archive-single.html %}
  {% endfor %}
</div>
{% endif %}
